<footer class="footer py-3 mt-auto" style="background: rgb(0,0,0);">
    <div class="container" style="background: rgb(0,0,0);">
        <div class="row" style="background: rgb(0,0,0);">
            <div class="col-9">
                <a class="navbar-brand font-weight-bold text-muted" href="#">
                    <img src="/assets/img/army.jpeg" alt="" width="35" height="35">
                    US ARMY</a>
            </div>

            <div class="col">
                <sp class="text-muted font-weight-bold">&copy;  2022</sp>
                <a class="navbar-brand font-weight-bold text-muted" href="#">
                    <img src="/assets/img/Bangladesh.svg" alt="" width="35" height="35"></a>
            </div>
        </div>
       
    </div>
</footer>