<nav class="navbar sticky-top navbar-expand-sm navbar-dark"
    style="position: fixed; width: 100%; background: rgb(0,0,0); border-bottom: .5em solid #fec325;">
    <div class="container-fluid">
        <a class="navbar-brand font-weight-bold" href="#">
            <img src="/images/rv7/army_star_icon_60.png" alt="" width="35" height="35">
            ARMY</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link font-weight-bold" href="/">Home</a>
                <% if(currentUser) {%>
                    <a class="nav-link font-weight-bold" href="/campgrounds">Personnels</a>
                    <a class="nav-link font-weight-bold" href="/campgrounds/new">New Personnel</a>
                    <% } %>

            </div>
            <div class="navbar-nav ml-auto">
                <% if(!currentUser) {%>
                    <a class="nav-link font-weight-bold" href="/login">Login</a>
                    <% } else { %>
                        <a class="nav-link font-weight-bold" href="/register">Register</a>
                        <a class="nav-link font-weight-bold" href="/logout">Logout</a>
                        <% } %>
            </div>
        </div>
    </div>
</nav>


<!-- <header>
    <div class="navbar">
      <div class="navbar-container">
        <a href="javascript:;" class="nav-button menu-button" aria-expanded="false" role="button">
          <span>MENU</span>
        </a>
        <a href="/" class="nav-army-star">
          <span>HOME</span>
        </a>
        <a href="javascript:;" class="nav-button search-button" aria-expanded="false" role="button">
          <span>SEARCH</span>
        </a>
      </div>
    </div>
    <div class="nav-window menu-window">
      <div class="menu-container">
        <div class="list-container">
          <ul role="menu">
            <li>
              <input type="checkbox" id="menu-item-about" />
              <label for="menu-item-about" role="menuitem">ABOUT<span></span></label>
              <ul>
                <li><a href="https://www.army.mil/about/index.html">Who We Are</a></li>
                <li><a href="https://www.army.mil/organization/index.html">Organization</a></li>
                <li><a href="https://www.army.mil/qualityoflife/index.html">Quality of Life</a></li>
                <li><a href="https://www.army.mil/a-z/index.html">Army A-Z</a></li>
              </ul>
            </li>
            <li>
              <input type="checkbox" id="menu-item-news" />
              <label for="menu-item-news" role="menuitem">NEWS<span></span></label>
              <ul>
                <li><a href="news">Army Worldwide</a></li>
                <li><a href="news/newsreleases">Press Releases</a></li>
                <li><a href="standto">STAND-TO!</a></li>
                <li><a href="soldiers">Soldier Features</a></li>
              </ul>
            </li>
            <li>
              <input type="checkbox" id="menu-item-media" />
              <label for="menu-item-media" role="menuitem">MULTIMEDIA<span></span></label>
              <ul>
                <li><a href="https://www.army.mil/photos">Photos</a></li>
                <li><a href="https://www.youtube.com/user/usarmy">Videos</a></li>
                <li><a href="https://www.army.mil/publications/index.html">Publications</a></li>
              </ul>
            </li>
          </ul>
          <ul role="menu">
            <li>
              <input type="checkbox" id="menu-item-leaders" />
              <label for="menu-item-leaders" role="menuitem">LEADERS<span></span></label>
              <ul>
                <li><a href="https://www.army.mil/leaders/sa/index.html">Secretary</a></li>
                <li><a href="https://www.army.mil/leaders/usa/index.html">Under Secretary</a></li>
                <li><a href="https://www.army.mil/leaders/csa/index.html">Chief of Staff</a></li>
                <li><a href="https://www.army.mil/leaders/vcsa/index.html">Vice Chief of Staff</a></li>
                <li><a href="https://www.army.mil/leaders/sma/index.html">Sergeant Major of the Army</a></li>
              </ul>
            </li>
            <li>
              <input type="checkbox" id="menu-item-features" />
              <label for="menu-item-features" role="menuitem">FEATURES<span></span></label>
              <ul>
                <li><a href="https://www.army.mil/features/index.html#valor">Valor</a></li>
                <li><a href="https://www.army.mil/features/index.html#events">Events</a></li>
                <li><a href="https://www.army.mil/features/index.html#heritage">Heritage</a></li>
                <li><a href="https://www.army.mil/features/index.html#army101">Army 101</a></li>
              </ul>
            </li>
            <li class="social">
              <ul>
                <li class="social-button facebook-button">
                  <a rel="noopener noreferrer" target="_blank" href="https://www.facebook.com/USArmy"><span>Official
                      U.S. Army Facebook</span></a>
                </li>
                <li class="social-button twitter-button">
                  <a rel="noopener noreferrer" target="_blank" href="https://twitter.com/USArmy"><span>Official U.S.
                      Army Twitter</span></a>
                </li>
                <li class="social-button youtube-button">
                  <a rel="noopener noreferrer" target="_blank" href="https://www.youtube.com/USarmy"><span>Official U.S.
                      Army Youtube</span></a>
                </li>
                <li class="social-button instagram-button">
                  <a rel="noopener noreferrer" target="_blank" href="https://www.instagram.com/usarmy/"><span>Official
                      U.S. Army Instagram</span></a>
                </li>
                <li class="social-button flickr-button">
                  <a rel="noopener noreferrer" target="_blank"
                    href="https://www.flickr.com/photos/soldiersmediacenter"><span>Official U.S. Army Flickr</span></a>
                </li>
                <li class="social-button linkedin-button">
                  <a rel="noopener noreferrer" target="_blank"
                    href="https://www.linkedin.com/company/us-army"><span>Official U.S. Army LinkedIn</span></a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <ul class="quicklinks">
          <li><a href="https://www.army.mil/newsroom/index.html" title="Newsroom">Newsroom</a></li>
          <li><a href="https://www.army.mil/publicAffairs/index.html" title="Public Affairs">Public Affairs</a></li>
          <li><a href="https://www.army.mil/socialmedia/index.html" title="Social Media Guide">Social Media Guide</a>
          </li>
          <li><a href="https://www.army.mil/join/index.html" title="Army Careers">Join</a></li>
          <li><a href="https://www.army.mil/faq/index.html" title="Frequently Asked Questions">FAQs</a></li>
          <li><a href="https://icamportal.us.army.mil/" title="Army Knowledge Online">AKO</a></li>
          <li><a href="contact" title="Contact Us">Contact Us</a></li>
        </ul>
      </div>
    </div>
    <div class="nav-window search-window">
      <div class="search-form-container">
        <form accept-charset="UTF-8" action="https://search.usa.gov/search" id="search_form" method="get">
          <div id="preload-01">
            <input name="utf8" type="hidden" value="&#x2713;" />
            <input id="affiliate" name="affiliate" type="hidden" value="www.army.mil" />
          </div>
          <label for="usagov-search-query">Search news, photos and videos on Army.mil</label>
          <input autocomplete="off" placeholder="Search" class="usagov-search-autocomplete" id="usagov-search-query"
            name="query" type="text" />
          <input aria-label="Search" name="commit" type="submit" value="" class="search-submit-button" />
        </form>
      </div>
    </div>
  </header> -->