<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <meta name="apple-itunes-app" content="app-id=342689843">
  <meta property="og:title" content="The Official Deployment Page of the United States Army" />
  <meta property="og:type" content="website" />
  <meta property="og:description"
    content="The latest news, images, videos, career information, and links from the U.S. Army." />
  <meta property="og:image" content="https://api.army.mil/e2/c/images/2022/10/11/c4334e79/size2.jpg" />
  <meta property="og:twitter:card" content="summary_large_image" />
  <meta property="og:twitter:site" content="@USArmy" />
  <meta property="og:twitter:title" content="The Official Deployment Page of the United States Army" />
  <meta property="og:twitter:description"
    content="The latest news, images, videos, career information, and links from the U.S. Army." />
  <meta property="og:twitter:image" content="https://api.army.mil/e2/c/images/2022/10/11/c4334e79/size2.jpg" />
  <meta property="og:site_name" content="www.army.mil" />
  <meta property="og:url" content="https://www.army.mil" />

  <title>The Official Deployment Page of the United States Army</title>
  <meta name="description" content="The latest news, images, videos, career information, and links from the U.S. Army">
  <meta name="keywords"
    content="united states army, army, us army eployment, Deployment,  us army, usarmy, army.mil, army news, army home page, army public affairs">
  <meta name="google-site-verification" content="B37UIocMPk5H2dDE3VKm-NOPvTJaLErF-mFsdEzQN0g" />
  <link rel="canonical" href="https://www.army.mil/index.html">
  <link rel="stylesheet" href="/css/home.css">
  <link rel="apple-touch-icon" href="/images/rv7/army_star_icon_60.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/images/rv7/army_star_icon_76.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/images/rv7/army_star_icon_120.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/images/rv7/army_star_icon_152.png">
</head>

<body>
  <!--[if lt IE 9]>
<div class="oldie-warning">
    <p class="warning">!</p>
      <p>Your version of Internet Explorer is out of date. It has known security flaws and can cause issues displaying content on this page, and other websites.</p>
      <p><a href="/upgrade" title="Learn how to update your browser">Learn how to update your browser</a></p>
</div>
<![endif]-->
  <header>
    <div class="navbar">
      <div class="navbar-container">
        <a href="javascript:;" class="nav-button menu-button" aria-expanded="false" role="button">
          <span>MENU</span>
        </a>
        <a href="/" class="nav-army-star">
          <span>HOME</span>
        </a>
        <a href="javascript:;" class="nav-button search-button" aria-expanded="false" role="button">
          <span>SEARCH</span>
        </a>
      </div>
    </div>
    <div class="nav-window menu-window">
      <div class="menu-container">
        <div class="list-container">
          <ul role="menu">
            <li>
              <input type="checkbox" id="menu-item-about" />
              <label for="menu-item-about" role="menuitem">ABOUT<span></span></label>
              <ul>
                <li><a href="https://www.army.mil/about/index.html">Who We Are</a></li>
                <li><a href="https://www.army.mil/organization/index.html">Organization</a></li>
                <li><a href="https://www.army.mil/qualityoflife/index.html">Quality of Life</a></li>
                <li><a href="https://www.army.mil/a-z/index.html">Army A-Z</a></li>
              </ul>
            </li>
            <li>
              <input type="checkbox" id="menu-item-news" />
              <label for="menu-item-news" role="menuitem">NEWS<span></span></label>
              <ul>
                <li><a href="news">Army Worldwide</a></li>
                <li><a href="news/newsreleases">Press Releases</a></li>
                <li><a href="standto">STAND-TO!</a></li>
                <li><a href="soldiers">Soldier Features</a></li>
              </ul>
            </li>
            <li>
              <input type="checkbox" id="menu-item-media" />
              <label for="menu-item-media" role="menuitem">MULTIMEDIA<span></span></label>
              <ul>
                <li><a href="https://www.army.mil/photos">Photos</a></li>
                <li><a href="https://www.youtube.com/user/usarmy">Videos</a></li>
                <li><a href="https://www.army.mil/publications/index.html">Publications</a></li>
              </ul>
            </li>
          </ul>
          <ul role="menu">
            <li>
              <input type="checkbox" id="menu-item-leaders" />
              <label for="menu-item-leaders" role="menuitem">LEADERS<span></span></label>
              <ul>
                <li><a href="https://www.army.mil/leaders/sa/index.html">Secretary</a></li>
                <li><a href="https://www.army.mil/leaders/usa/index.html">Under Secretary</a></li>
                <li><a href="https://www.army.mil/leaders/csa/index.html">Chief of Staff</a></li>
                <li><a href="https://www.army.mil/leaders/vcsa/index.html">Vice Chief of Staff</a></li>
                <li><a href="https://www.army.mil/leaders/sma/index.html">Sergeant Major of the Army</a></li>
              </ul>
            </li>
            <li>
              <input type="checkbox" id="menu-item-features" />
              <label for="menu-item-features" role="menuitem">FEATURES<span></span></label>
              <ul>
                <li><a href="https://www.army.mil/features/index.html#valor">Valor</a></li>
                <li><a href="https://www.army.mil/features/index.html#events">Events</a></li>
                <li><a href="https://www.army.mil/features/index.html#heritage">Heritage</a></li>
                <li><a href="https://www.army.mil/features/index.html#army101">Army 101</a></li>
              </ul>
            </li>
            <li class="social">
              <ul>
                <li class="social-button facebook-button">
                  <a rel="noopener noreferrer" target="_blank" href="https://www.facebook.com/USArmy"><span>Official
                      U.S. Army Facebook</span></a>
                </li>
                <li class="social-button twitter-button">
                  <a rel="noopener noreferrer" target="_blank" href="https://twitter.com/USArmy"><span>Official U.S.
                      Army Twitter</span></a>
                </li>
                <li class="social-button youtube-button">
                  <a rel="noopener noreferrer" target="_blank" href="https://www.youtube.com/USarmy"><span>Official U.S.
                      Army Youtube</span></a>
                </li>
                <li class="social-button instagram-button">
                  <a rel="noopener noreferrer" target="_blank" href="https://www.instagram.com/usarmy/"><span>Official
                      U.S. Army Instagram</span></a>
                </li>
                <li class="social-button flickr-button">
                  <a rel="noopener noreferrer" target="_blank"
                    href="https://www.flickr.com/photos/soldiersmediacenter"><span>Official U.S. Army Flickr</span></a>
                </li>
                <li class="social-button linkedin-button">
                  <a rel="noopener noreferrer" target="_blank"
                    href="https://www.linkedin.com/company/us-army"><span>Official U.S. Army LinkedIn</span></a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <ul class="quicklinks">
          <li><a href="https://www.army.mil/newsroom/index.html" title="Newsroom">Newsroom</a></li>
          <li><a href="https://www.army.mil/publicAffairs/index.html" title="Public Affairs">Public Affairs</a></li>
          <li><a href="https://www.army.mil/socialmedia/index.html" title="Social Media Guide">Social Media Guide</a>
          </li>
          <li><a href="https://www.army.mil/join/index.html" title="Army Careers">Join</a></li>
          <li><a href="https://www.army.mil/faq/index.html" title="Frequently Asked Questions">FAQs</a></li>
          <li><a href="https://icamportal.us.army.mil/" title="Army Knowledge Online">AKO</a></li>
          <li><a href="contact" title="Contact Us">Contact Us</a></li>
        </ul>
      </div>
    </div>
    <div class="nav-window search-window">
      <div class="search-form-container">
        <form accept-charset="UTF-8" action="https://search.usa.gov/search" id="search_form" method="get">
          <div id="preload-01">
            <input name="utf8" type="hidden" value="&#x2713;" />
            <input id="affiliate" name="affiliate" type="hidden" value="www.army.mil" />
          </div>
          <label for="usagov-search-query">Search news, photos and videos on Army.mil</label>
          <input autocomplete="off" placeholder="Search" class="usagov-search-autocomplete" id="usagov-search-query"
            name="query" type="text" />
          <input aria-label="Search" name="commit" type="submit" value="" class="search-submit-button" />
        </form>
      </div>
    </div>
  </header>
  <div class="main">
    <div class="feature-mosaic">
      <ul class="mosaic-contain grid-mosaic-6 tablet-0">
        <li class="mosaic-tile tile-1 article-tile ">
          <a href="https://www.army.mil/article/261004/preparing_today_for_tomorrows_fight"
            class="tile-inner tile-image " data-ytid="">
            <span class="tile-overlay"></span>
            <span class="tile-tab-type">
              Lead Story
            </span>
            <span class="image">
              <img class="resp-image"
                srcset="https://api.army.mil/e2/c/images/2022/10/11/c4334e79/max1200.jpg 1200w, https://api.army.mil/e2/c/images/2022/10/11/c4334e79/size0.jpg 640w, https://api.army.mil/e2/c/images/2022/10/11/c4334e79/size1.jpg 446w"
                sizes="(max-width: 639px) 480px, (min-width: 640px) 640px"
                src="https://api.army.mil/e2/c/images/2022/10/11/c4334e79/size0.jpg"
                alt="Gen. James Rainey, Army Futures Command commander, shares some of his thoughts about Army 2030 during a panel at AUSA. The panel also consisted of retired Gen. David Perkins as the moderator; Mario Diaz, Deputy Under Secretary of the Army; Lt. Gen. Milford Beagle, Jr., Combined Arms Center commander; and Jim Greer, Combined Arms Center thought leader." />
            </span>
            <span class="title">
              <span class="title-inner">
                Preparing today for tomorrow&#39;s fight
              </span>
            </span>
          </a>
        </li>
        <li class="mosaic-tile tile-2 video-tile ">
          <a href="javascript:;" class="tile-inner tile-image " data-ytid="7RBX59oRnwA">
            <span class="tile-overlay"></span>
            <span class="tile-tab-type">
              Featured Video
            </span>
            <span class="image">
              <img class="resp-image"
                srcset="https://i.ytimg.com/vi/7RBX59oRnwA/maxresdefault.jpg 1280w, https://i.ytimg.com/vi/7RBX59oRnwA/sddefault.jpg 640w, https://i.ytimg.com/vi/7RBX59oRnwA/hqdefault.jpg 480w, https://i.ytimg.com/vi/7RBX59oRnwA/mqdefault.jpg 320w, https://i.ytimg.com/vi/7RBX59oRnwA/default.jpg 120w"
                sizes="(max-width: 639px) 480px, (min-width: 640px) 640px"
                src="https://i.ytimg.com/vi/7RBX59oRnwA/hqdefault.jpg" alt="" />
            </span>
            <span class="title">
              <span class="title-inner">
                SMA Talks | Best Squad (Episode 7) | U.S. Army
              </span>
            </span>
            <span class="video-icon"></span>
          </a>
        </li>
        <li class="mosaic-tile tile-3 photo-tile ">
          <a href="https://api.army.mil/e2/c/images/2022/10/12/e50b15e1/original.jpg" class="tile-inner tile-image "
            data-ytid="">
            <span class="tile-overlay"></span>
            <span class="tile-tab-type">
              Featured Photo
            </span>
            <span class="image">
              <img class="resp-image"
                srcset="https://api.army.mil/e2/c/images/2022/10/12/e50b15e1/max1200.jpg 1200w, https://api.army.mil/e2/c/images/2022/10/12/e50b15e1/size0.jpg 640w, https://api.army.mil/e2/c/images/2022/10/12/e50b15e1/size1.jpg 446w"
                sizes="(max-width: 639px) 480px, (min-width: 640px) 640px"
                src="https://api.army.mil/e2/c/images/2022/10/12/e50b15e1/size0.jpg"
                alt="U.S. Army Spc. Jamil P. Samuel, left, and Pfc. Richard S. Gammon, both High Mobility Artillery Rocket System (HIMARS) crew members assigned to Baker Battery, 3rd Battalion, 321st Field Artillery Regiment (3-321 FAR), 18th Field Artillery Brigade prepare an M142 HIMARS during a Latvian-led field artillery live fire exercise, NAMEJS, at Liepāja, Latvia, Sept. 26, 2022." />
            </span>
            <span class="title">
              <span class="title-inner">
                HIMARS in Latvia
              </span>
            </span>
          </a>
        </li>
        <li class="mosaic-tile tile-4 spotlight-tile ">
          <a href="https://www.asaie.army.mil/public/es/energyactionmonth.html" class="tile-inner tile-image outbound"
            data-ytid="">
            <span class="tile-overlay"></span>
            <span class="tile-tab-type">
              Spotlight
            </span>
            <span class="image">
              <img class="resp-image" src="https://api.army.mil/e2/c/images/2022/10/13/0b4ed77a/size0.jpg"
                alt="Energy Action Month" />
            </span>
            <span class="title">
              <span class="title-inner">
                Energy Action Month
              </span>
            </span>
          </a>
        </li>
        <li class="mosaic-tile tile-5 spotlight-tile ">
          <a href="https://www.army.mil/hispanics/index.html?from=hp_spotlight" class="tile-inner tile-image "
            data-ytid="">
            <span class="tile-overlay"></span>
            <span class="tile-tab-type">
              Spotlight
            </span>
            <span class="image">
              <img class="resp-image" src="https://api.army.mil/e2/c/images/2022/09/16/2aa26e6c/size0.jpg"
                alt="Hispanic Heritage Month" />
            </span>
            <span class="title">
              <span class="title-inner">
                Hispanic Heritage Month
              </span>
            </span>
          </a>
        </li>
        <li class="mosaic-tile tile-6 spotlight-tile ">
          <a href="https://www.goarmy.com/?from=hp_spotlight" class="tile-inner tile-image outbound" data-ytid="">
            <span class="tile-overlay"></span>
            <span class="tile-tab-type">
              Spotlight
            </span>
            <span class="image">
              <img class="resp-image" src="https://api.army.mil/e2/c/images/2022/07/26/3ccb9bc0/size0.jpg"
                alt=" Go Army" />
            </span>
            <span class="title">
              <span class="title-inner">
                Go Army
              </span>
            </span>
          </a>
        </li>
      </ul>
    </div>

    <div class="newsroom-promo">
      <a href="https://www.army.mil/newsroom" title="Newsroom: Resources for journalists and media outlets">
        <span class="newsroom-text">Newsroom:</span>
        Resources for journalists and media outlets
      </a>
    </div>

    <section class="container">
      <div class="inner-container">
        <div class="news">
          <h4>LATEST NEWS</h4>
          <ul class="no-dates">
            <li class="">
              <a href="https://www.army.mil/article/260917/trailblazing_hispanic_american_charts_direction_for_armys_dog_handlers_with_leadership_grit"
                title="Trailblazing Hispanic American charts direction for Army’s dog handlers with leadership, grit">
                <span class="image">
                  <img src="https://api.army.mil/e2/c/images/2022/10/06/21de39d0/size1.jpg"
                    alt="Sgt. Maj. Viridiana Lavalle, the Army Military Working Dog program manager and the Army&amp;#39;s senior most MWD handler reads a book on military working dogs to elementary school students at Fort Sill, Okla, on April 16, 2021. Lavalle is the first woman to hold the position. " />
                </span>
                <span class="title">Trailblazing Hispanic American charts direction for Army’s dog handlers with
                  leadership, grit</span>
                <span class="date">October 6, 2022</span>
              </a>
            </li>
            <li class="">
              <a href="https://www.army.mil/article/260993/new_vessel_class_enters_army_watercraft_fleet_with_prototype_launch"
                title="New vessel class enters Army watercraft fleet with prototype launch">
                <span class="image">
                  <img src="https://api.army.mil/e2/c/images/2022/10/12/fe33e586/size1.jpg" alt="The MSV(L) will replace the Landing Craft Mechanized-8, (LCM-8,) a Vietnam-era watercraft.  It is the first major Army watercraft acquisition in more than 20 years.  The current Army Acquisition Objective is to build 13 vessels.  The MSV(L) is 117 feet long and can travel up to  21 knots fully laden and 30 knots unladen. Its range will be 360 nautical miles when fully laden. Eight Army Mariners will crew the MSV(L).
Each vessel’s payload will be 82 short tons." />
                </span>
                <span class="title">New vessel class enters Army watercraft fleet with prototype launch</span>
                <span class="date">October 12, 2022</span>
              </a>
            </li>
            <li class="">
              <a href="https://www.army.mil/article/261003/army_leaders_at_ausa_meeting_take_people_first_initiative_to_heart"
                title="Army leaders at AUSA meeting take ‘People First’ initiative to heart">
                <span class="image">
                  <img src="https://api.army.mil/e2/c/images/2022/10/11/4ebbc6be/size1.jpg"
                    alt="A proud family congratulates a paratrooper who has just been awarded his Expert Infantryman Badge, as she is held at a ceremony at the 173rd Airborne Brigade." />
                </span>
                <span class="title">Army leaders at AUSA meeting take ‘People First’ initiative to heart</span>
                <span class="date">October 11, 2022</span>
              </a>
            </li>
            <li class="">
              <a href="https://www.army.mil/article/260974/screaming_eagles_land_in_europe_once_again"
                title="&amp;#39;Screaming Eagles&amp;#39; land in Europe once again">
                <span class="image">
                  <img src="https://api.army.mil/e2/c/images/2022/10/11/e5715ae3/size1.jpg"
                    alt="U.S. Army Maj. Todd Castles, executive officer of the 101st Airborne Division Sustainment Brigade, stands at parade rest at the helm of the unit during a ceremonial uncasing of their flag, streamers and colors following the unit’s arrival to the Grafenwöhr Training Area in Grafenwöhr, Germany, Oct. 6, 2022. After many years, the 101st Airborne Division once again joins the 1st Infantry Division in Europe to work alongside other NATO allies and regional security partners to provide combat-credible forces to V Corps, America&amp;#39;s forward deployed corps. (U.S. Army photo by Spc. Charles Leitner)" />
                </span>
                <span class="title">&#39;Screaming Eagles&#39; land in Europe once again</span>
                <span class="date">October 11, 2022</span>
              </a>
            </li>
            <li class="">
              <a href="https://www.army.mil/article/260985/project_convergence_2022_kicks_off_with_ausa_warriors_corner_presentation"
                title="Project Convergence 2022 kicks off with AUSA Warriors Corner presentation">
                <span class="image">
                  <img src="https://api.army.mil/e2/c/images/2022/10/11/6bbca659/size1.jpg"
                    alt="&amp;#34;Project Convergence is the Army&amp;#39;s Campaign of Learning. PC is multiple events throughout the year that culminate into the PC22 experiment that is starting today near the West Coast of the United States and other areas of the world,&amp;#34; said Brig Gen. Guy Jones, deputy director of the Futures and Concepts Center at Army Futures Command. #AUSA2022 #PC22" />
                </span>
                <span class="title">Project Convergence 2022 kicks off with AUSA Warriors Corner presentation</span>
                <span class="date">October 11, 2022</span>
              </a>
            </li>
            <li class="">
              <a href="https://www.army.mil/article/260943/us_army_training_and_doctrine_command_updates_army_capstone_doctrine_codifying_shift_to_multidomain_operations"
                title="US Army Training and Doctrine Command updates Army capstone doctrine, codifying shift to multidomain operations">
                <span class="image">
                  <img src="https://api.army.mil/e2/c/images/2022/10/10/63c908aa/size1.jpg" alt="" />
                </span>
                <span class="title">US Army Training and Doctrine Command updates Army capstone doctrine, codifying
                  shift to multidomain operations</span>
                <span class="date">October 10, 2022</span>
              </a>
            </li>
          </ul>
          <div class="view-all"><a href="news">VIEW ALL NEWS</a></div>
        </div>
      </div>
    </section>
    <div class="announcements">
      <section class="container">
        <div class="inner-container">
          <div class="news">
            <h4>OFFICIAL ARMY ANNOUNCEMENTS</h4>
            <ul>
              <li class="">
                <a href="https://www.army.mil/article/261111/tmf_board_selects_the_army_critical_infrastructure_cyber_protection_project_for_investment"
                  title="TMF Board selects the Army Critical Infrastructure Cyber Protection Project for investment">
                  <span class="image">
                    <img src="https://api.army.mil/e2/c/images/2022/10/13/26c609c5/size1.jpg"
                      alt="Dr. Raj Iyer, the Army’s Chief Information Officer, delivers a speech highlighting CIO initiatives supporting the Army." />
                  </span>
                  <span class="title">TMF Board selects the Army Critical Infrastructure Cyber Protection Project for
                    investment</span>
                  <span class="date">October 13, 2022</span>
                </a>
              </li>
              <li class="">
                <a href="https://www.army.mil/article/260945/u_s_army_training_and_doctrine_command_announces_release_of_new_army_capstone_operations_manual"
                  title="U.S. Army Training and Doctrine Command announces release of new Army capstone operations manual ">
                  <span class="image">
                    <img src="/images/rv7/universal/army_seal.jpg" alt="" />
                  </span>
                  <span class="title">U.S. Army Training and Doctrine Command announces release of new Army capstone
                    operations manual </span>
                  <span class="date">October 10, 2022</span>
                </a>
              </li>
              <li class="">
                <a href="https://www.army.mil/article/260971/army_announces_winners_of_prestigious_2022_competition_awards"
                  title="Army announces winners of prestigious 2022 competition awards ">
                  <span class="image">
                    <img src="https://api.army.mil/e2/c/images/2022/10/10/90a7b06f/size1.jpg" alt="" />
                  </span>
                  <span class="title">Army announces winners of prestigious 2022 competition awards </span>
                  <span class="date">October 10, 2022</span>
                </a>
              </li>
              <li class="">
                <a href="https://www.army.mil/article/260916/department_of_the_army_updates_total_army_covid_19_vaccination_statistics"
                  title="Department of the Army updates Total Army COVID-19 vaccination statistics ">
                  <span class="image">
                    <img src="https://api.army.mil/e2/c/images/2022/10/06/d211dc3d/size1.jpg" alt="" />
                  </span>
                  <span class="title">Department of the Army updates Total Army COVID-19 vaccination statistics </span>
                  <span class="date">October 7, 2022</span>
                </a>
              </li>
            </ul>
            <div class="view-all"><a href="news/newsreleases">VIEW ALL ANNOUNCEMENTS</a></div>
          </div>
        </div>
      </section>
    </div>
    <section class="container">
      <div class="inner-container">
        <div class="news">
          <h4>SOLDIER FEATURES</h4>
          <ul class="no-dates">
            <li class="">
              <a href="https://www.army.mil/article/260882/soldier_turns_50_graduates_basic_combat_training"
                title="Soldier turns 50, graduates basic combat training">
                <span class="image">
                  <img src="https://api.army.mil/e2/c/images/2022/10/06/ad10cf62/size1.jpg"
                    alt="Spc. Orlando Kinchloe stands outside of Company D, 2nd Battalion, 10th Infantry Regiment. Kinchloe is scheduled to graduate basic combat training for the second time in his life today on Gammon Field. He previously served 10 years as an active-duty Soldier before a 21-year break in service." />
                </span>
                <span class="title">Soldier turns 50, graduates basic combat training</span>
                <span class="date">October 6, 2022</span>
              </a>
            </li>
            <li class="">
              <a href="https://www.army.mil/article/260764/for_this_soldier_the_army_has_opened_many_doors"
                title="For this Soldier, the Army has opened many doors">
                <span class="image">
                  <img src="https://api.army.mil/e2/c/images/2022/10/03/64b34bb7/size1.jpg"
                    alt="Spc. Phillicia Jones, a 25B or information technology specialist assigned to the XVIII Airborne Corps, poses for a photo in Germany, Sept. 23, 2022. Jones deployed to Germany as part of Task Force Dragon to assure our NATO Allies." />
                </span>
                <span class="title">For this Soldier, the Army has opened many doors</span>
                <span class="date">October 3, 2022</span>
              </a>
            </li>
            <li class="">
              <a href="https://www.army.mil/article/260723/mother_son_begin_their_army_journeys_together"
                title="Mother, son begin their Army journeys together">
                <span class="image">
                  <img src="https://api.army.mil/e2/c/images/2022/09/30/b241c387/size1.jpg"
                    alt="Pvt. Erica L. and Pfc. Jose A. Esqueda pose for pictures Sept. 15. The mother and son’s initial entry into the Army was overlapped for basic combat training at Fort Jackson, S.C., and advanced individual training at the Ordnance School, allowing them to be supportive of each&amp;#39;s journey. The pair also is scheduled to attend the Airborne School at Fort Benning, Ga. (photo by T. Anthony Bell)" />
                </span>
                <span class="title">Mother, son begin their Army journeys together</span>
                <span class="date">September 30, 2022</span>
              </a>
            </li>
            <li class="">
              <a href="https://www.army.mil/article/260435/a_warriors_story_of_perseverance_is_never_finished"
                title="A warrior&amp;#39;s story of perseverance is never finished">
                <span class="image">
                  <img src="https://api.army.mil/e2/c/images/2022/09/22/ad85c5a6/size1.jpg"
                    alt="U.S. Army South Soldier, Master Sgt. Kathryan Torres, command lead sexual assault response coordinator, stands in front of Army South headquarters on Joint Base San Antonio-Fort Sam Houston, Sept. 21, 2022. Torres&amp;#39; journey to Army service was forged by great parenting and a supportive family. (U.S. Army photo by Spc. Joshua Taeckens)" />
                </span>
                <span class="title">A warrior&#39;s story of perseverance is never finished</span>
                <span class="date">September 22, 2022</span>
              </a>
            </li>
            <li class="">
              <a href="https://www.army.mil/article/260159/father_promotes_daughter_while_deployed"
                title="Father promotes daughter while deployed">
                <span class="image">
                  <img src="https://api.army.mil/e2/c/images/2022/09/13/1464dfa9/size1.jpg"
                    alt="Chief Warrant Officer 4 Andres Giraldo, a targeting officer assigned to the XVIII Airborne Corps, pins the patrol cap of 1st Lt. Chesnee Giraldo, a quartermaster officer assigned to the 55th Quartermaster Field Feeding Company, 16th Special Troops Battalion, 16th Sustainment Brigade. Andres’ deployment to near where Chesnee is stationed allowed him to attend her promotion ceremony, after missing other big moments in her life due to operational requirements." />
                </span>
                <span class="title">Father promotes daughter while deployed</span>
                <span class="date">September 13, 2022</span>
              </a>
            </li>
            <li class="">
              <a href="https://www.army.mil/article/260125/army_astronaut_to_join_iss_mission"
                title="Army Astronaut to join ISS mission">
                <span class="image">
                  <img src="https://api.army.mil/e2/c/images/2022/09/12/48ed48d6/size1.jpg"
                    alt="Lt. Col. Frank Rubio smiles for the camera while being suited up for EVA training. Rubio is scheduled to be making his first venture into space Sept. 21 when he launches from the Baikonur Cosmodrome to the International Space Station as a NASA astronaut." />
                </span>
                <span class="title">Army Astronaut to join ISS mission</span>
                <span class="date">September 14, 2022</span>
              </a>
            </li>
          </ul>
          <div class="view-all"><a href="soldiers">VIEW ALL FEATURES</a></div>
        </div>
      </div>
    </section>
  </div>
  <div id="lightbox" class="hidden">
    <div class="container click-close">
      <a class="thumbnail hidden" id="thumbnail"><span class="thumbnail-button"></span></a>
      <a class="single-view hidden" id="single-view"><span class="single-view-button"></span></a>
      <span class="image-index hidden" id="image-index"></span>
      <a class="download hidden" id="download" target="_blank"><span class="download-button"></span></a>
      <a class="share hidden" id="share"><span class="share-button"></span></a>
      <div class="share-box opacity-zero" id="share-box">
        <ul>
          <li class="social-button facebook-button">
            <a id="fb-social" href="https://www.army.mil/index.html" target="_blank">
              <span></span>
            </a>
          </li>
          <li class="social-button twitter-button">
            <a id="twitter-social" href="https://www.army.mil/index.html" target="_blank">
              <span></span>
            </a>
          </li>
          <li class="social-button pinterest-button">
            <a id="pint-social" href="https://www.army.mil/index.html" target="_blank">
              <span></span>
            </a>
          </li>
        </ul>
      </div>
      <a class="close click-close" href="javascript:;"><span class="click-close"></span></a>
      <div class="inner-container">
        <div id="video-elem" class="video-elem click-close hidden"></div>
        <div class="lb-img click-close" id="lb-img">
          <span class="full-height"></span>
          <div id="img-wrap" class="img-wrap">
            <img id="prev-elem" class="prev-elem" src="https://www.army.mil/index.html" alt="" />
            <img id="current-elem" class="current-elem" src="https://www.army.mil/index.html" alt="" />
            <img id="next-elem" class="next-elem" src="https://www.army.mil/index.html" alt="" />
            <a class="lb-button" id="next-button" href="javascript:;" title="Next image"><span></span></a>
            <a class="lb-button" id="prev-button" href="javascript:;" title="Previous image"><span></span></a>
          </div>
          <div class="caption">
            <span class="gradient"></span>
            <p><span id="author"></span></p>
          </div>
        </div>
        <div class="thumbnail-view hidden" id="thumbnail-view">
          <ul>
            <li>
              <a href="javascript:;">
                <span class="image">
                  <img
                    alt="U.S. Army Spc. Jamil P. Samuel, left, and Pfc. Richard S. Gammon, both High Mobility Artillery Rocket System (HIMARS) crew members assigned to Baker Battery, 3rd Battalion, 321st Field Artillery Regiment (3-321 FAR), 18th Field Artillery Brigade prepare an M142 HIMARS during a Latvian-led field artillery live fire exercise, NAMEJS, at Liepāja, Latvia, Sept. 26, 2022."
                    src="https://www.army.mil/index.html"
                    data-src="https://api.army.mil/e2/c/images/2022/10/12/e50b15e1/original.jpg"
                    data-title="HIMARS in Latvia" data-author="U.S. Army photo by Sgt. Lianne M. Hirano">
                  <p class="img-title">HIMARS in Latvia</p>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <span class="image">
                  <img
                    alt="Soldiers assigned to Hard Rock Company, 1st Battalion, 502nd Infantry Regiment, 2nd Brigade Combat Team, 101st Airborne Division (Air Assault), conduct a Platoon Live Fire Exercise on Sept 27, 2022, at Cincu Training Area, Romania."
                    src="https://www.army.mil/index.html"
                    data-src="https://api.army.mil/e2/c/images/2022/10/11/b47372ac/original.jpg"
                    data-title="Platoon Live Fire Exercise" data-author="U.S. Army photo by 2nd Lt. Stacey Shaw">
                  <p class="img-title">Platoon Live Fire Exercise</p>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <span class="image">
                  <img
                    alt="Soldiers assigned to the 1-111th General Support Aviation Battalion (GSAB) conduct daily maintenance and pre-flight inspections on a CH-47F Chinook helicopter at Opa-locka, Florida, on Sept. 28, 2022. The 1-111th GSAB, headquartered in Jacksonville, Florida, was activated to support the Florida National Guard’s response to Hurricane Ian."
                    src="https://www.army.mil/index.html"
                    data-src="https://api.army.mil/e2/c/images/2022/10/07/293fdf3f/original.jpg"
                    data-title="Florida Guard Prepares for Ian"
                    data-author="U.S. Army by Sgt. 1st Class Shane Klestinsk">
                  <p class="img-title">Florida Guard Prepares for Ian</p>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <span class="image">
                  <img
                    alt="An Army M1A2 Abrams main battle tank assigned to 1st Battalion, 68th Armor Regiment, 3rd Armored Brigade Combat Team, 4th Infantry Division prepares for a platoon live-fire exercise at Drawsko Pomorskie, Poland, Aug. 17, 2022. The 3/4 ABCT is among other units assigned to the 1st Infantry Division, working alongside NATO allies and regional security partners to provide combat-credible forces to V Corps, America’s forward-deployed corps in Europe."
                    src="https://www.army.mil/index.html"
                    data-src="https://api.army.mil/e2/c/images/2022/10/05/68f6f2da/original.jpg"
                    data-title="Platoon Exercise" data-author="U.S. Army photo by Spc. Hedil Hernandez">
                  <p class="img-title">Platoon Exercise</p>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <span class="image">
                  <img
                    alt="Troopers within the 1st Cavalry Division march in formation during the ceremony in celebration of the 101st birthday of the 1st Cavalry Division at Fort Hood, Texas, Sept. 16."
                    src="https://www.army.mil/index.html"
                    data-src="https://api.army.mil/e2/c/images/2022/10/03/5c1e0d19/original.jpg"
                    data-title="1st Cavalry Division Celebrates 101 Years"
                    data-author="U.S. Army photo by Sgt. Brayton Daniel">
                  <p class="img-title">1st Cavalry Division Celebrates 101 Years</p>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <span class="image">
                  <img
                    alt="U.S. Army Reserve Sgt. Mikayla Fritz, a public affairs mass communication specialist with the 358th Public Affairs Detachment, and Sgt. 1st Class Debrah Sanders, the non-commissioned officer in charge of the 366th Mobile Public Affairs Detachment, stand on plane wreckage to take a photo at Muscatatuck Urban Training Center, Muscatatuck, Indiana, Aug. 16, 2022. The MUTC offers real life training in urban and rural environments with different scenarios."
                    src="https://www.army.mil/index.html"
                    data-src="https://api.army.mil/e2/c/images/2022/09/30/10c769ca/original.jpg"
                    data-title="Public Affairs Exercise" data-author="U.S. Army photo by Spc. Addison Shinn">
                  <p class="img-title">Public Affairs Exercise</p>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <span class="image">
                  <img
                    alt="Soldiers conduct Modern Army Combatives training at Fort George G. Meade, Md., July 22, 2022."
                    src="https://www.army.mil/index.html"
                    data-src="https://api.army.mil/e2/c/images/2022/09/28/bb48c440/original.jpg"
                    data-title="Combatives Training" data-author="U.S. Army photo by Sgt. Henry Villarama">
                  <p class="img-title">Combatives Training</p>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <span class="image">
                  <img
                    alt="Spc. Brandon Charles Brown, an infantryman assigned to 4th Battalion, 9th Infantry Regiment,1st Stryker Brigade Combat Team, 4th Infantry Division, applies camouflage paint onto his face during the first morning of Command Post Exercise II (CPX II), Aug. 19, 2022, at the Mission Training Center, Fort Carson, Colorado. CPX II was a scenario-based exercise designed to prepare the division staff for an upcoming large-scale field operation later this year."
                    src="https://www.army.mil/index.html"
                    data-src="https://api.army.mil/e2/c/images/2022/09/26/36f59c3e/original.jpg"
                    data-title="Exercise Camouflage " data-author="U.S. Army photo by Spc. Tyler Brock">
                  <p class="img-title">Exercise Camouflage </p>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <span class="image">
                  <img
                    alt="U.S. Soldiers assigned to V Corps team provide first aid to a manikin during the U.S. Army Europe and Africa Best Squad Competition at Grafenwoehr Training Area, Germany, Aug. 9, 2022. Teams from across U.S. Army Europe and Africa test their tactical proficiency, communication, and overall cohesion as they compete for the title of Best Squad. Winners of this competition will advance to represent U.S. Army Europe and Africa at the U.S. Army Best Squad Competition at Fort Bragg, North Carolina later this year."
                    src="https://www.army.mil/index.html"
                    data-src="https://api.army.mil/e2/c/images/2022/09/23/fe3ba0dc/original.jpg"
                    data-title="USAREUR-AF Best Squad" data-author="U.S. Army photo by Markus Rauchenberger">
                  <p class="img-title">USAREUR-AF Best Squad</p>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <span class="image">
                  <img
                    alt="Army Sgt. 1st Class Brandt Ireland, a member of the U.S. Special Operations Command team, competes in cycling during the 2022 DOD Warrior Games in Orlando, Fla., Aug. 22, 2022. More than 200 wounded, ill and injured service members and veteran athletes are competing in 12 adaptive sporting events during the games."
                    src="https://www.army.mil/index.html"
                    data-src="https://api.army.mil/e2/c/images/2022/09/21/67328b57/original.jpg"
                    data-title="Warrior Wheels" data-author="DOD photo by Roger L. Wollenberg">
                  <p class="img-title">Warrior Wheels</p>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <span class="image">
                  <img
                    alt="Army Spc. Brandon Almaguer, left, and Army Spc. Mattox Harrell, reorganize ammunition during a multinational live-fire exercise held at Rovaniemi Training Area, Finland, Aug. 11, 2022. Almaguer and Harrell are indirect-fire infantrymen assigned to the Viper Company, 1st Battalion, 26th Infantry Regiment, 2nd Brigade Combat Team, 101st Airborne Division."
                    src="https://www.army.mil/index.html"
                    data-src="https://api.army.mil/e2/c/images/2022/09/19/5c215204/original.jpg"
                    data-title="Getting Organized" data-author="U.S. Army photo by Sgt. Agustin Montanez">
                  <p class="img-title">Getting Organized</p>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <span class="image">
                  <img
                    alt="U.S. Soldiers aboard an M2A3 Bradley Fighting Vehicle lead a parade as part of the Tanks in Mons festivities held at Estinnes, Belgium, Aug. 27, 2022. Tanks in Mons, an annual event in its 21st year, brings people together to commemorate the Liberation of Belgium and the historic Battle of the Mons Pocket."
                    src="https://www.army.mil/index.html"
                    data-src="https://api.army.mil/e2/c/images/2022/09/14/a94f0653/original.jpg"
                    data-title="Tanks in Mons" data-author="U.S. Army photo by Sgt. Agustín Montañez">
                  <p class="img-title">Tanks in Mons</p>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <span class="image">
                  <img
                    alt="Infantry Soldiers assigned to 1st Battalion, 148th Infantry Regiment man their foxholes before force-on-force operations during Operation Northern Strike at Camp Grayling, Mich., Aug. 15, 2022. Infantry brigade combat teams must train in a joint, multicomponent, multinational environment to ensure they can fight and win in an expeditionary environment against a near peer adversary."
                    src="https://www.army.mil/index.html"
                    data-src="https://api.army.mil/e2/c/images/2022/09/12/934b76e9/original.jpg"
                    data-title="Northern Strike Night Vision" data-author="U.S. Army photo by Sgt. Max Elliott">
                  <p class="img-title">Northern Strike Night Vision</p>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <span class="image">
                  <img
                    alt="Soldiers from the 3d U.S. Infantry Regiment (The Old Guard) support an Army Full Honors Wreath-Laying at the Tomb of the Unknown Soldier at Arlington National Cemetery, Arlington, Va., Aug. 23, 2022. The wreath was laid by Gen. Pierre Schill, chief of staff, French Army."
                    src="https://www.army.mil/index.html"
                    data-src="https://api.army.mil/e2/c/images/2022/09/09/352560ca/original.jpg"
                    data-title="Honor Guard Saber" data-author="U.S. Army photo by Elizabeth Fraser">
                  <p class="img-title">Honor Guard Saber</p>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <span class="image">
                  <img
                    alt="The first AH-64 Apache helicopter is discharged from the commercial cargo vessel, ARC Endurance, at the Port of Esbjerg, Denmark on Aug 22, 2022. The 598th Transportation Brigade (SDDC) and 21st Theater Sustainment Command work in conjunction to transport the 1st Armored Division’s Combat Aviation Brigade from Fort Bliss, Texas through the port to forward operating locations in Europe for Atlantic Resolve."
                    src="https://www.army.mil/index.html"
                    data-src="https://api.army.mil/e2/c/images/2022/09/08/149ec3d2/original.jpg"
                    data-title="Apaches Stand Ready" data-author="U.S. Army photo by Spc. William R. Thompson">
                  <p class="img-title">Apaches Stand Ready</p>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <span class="image">
                  <img
                    alt="Driving through off-road obstacles showcases the Joint Light Tactical Vehicles’ capabilities to maneuver over uneven surfaces at Fort McCoy, Wisconsin, Aug. 17, 2022. The JLTV is a part of an Army-led, joint-force program, designed to replace vehicles across the Department of Defense. Project Convergence is the Army’s campaign of learning, designed to aggressively advance and integrate Army’s contributions to the Joint Force. It ensures that the Army, as part of the Joint and Combined fight, can rapidly and continuously converge effects across all domains — air, land, sea and space."
                    src="https://www.army.mil/index.html"
                    data-src="https://api.army.mil/e2/c/images/2022/09/06/fadeccee/original.jpg"
                    data-title="Rocky Maneuver" data-author="U.S. Army photo by Spc. Brittney Joy">
                  <p class="img-title">Rocky Maneuver</p>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <span class="image">
                  <img
                    alt="U.S. Army squads under FORSCOM (Forces Command) compete for the title of “Best Squad” during a head-to-head competition at the FORSCOM Best Squad Competition 2022 at Fort Hood, Texas, Aug. 17, 2022. Spc. Kyle Romer, representing the 20th CBRNE squad, runs safety perimeter while waiting on medical evacuation. On Day 3 of the competition Soldiers underwent a medical evacuation simulation at the Fort Hood MSTC (Medical Simulation Training Center). The Army is the best trained, best equipped, and most skilled fighting force in the world. "
                    src="https://www.army.mil/index.html"
                    data-src="https://api.army.mil/e2/c/images/2022/09/02/8f23e4de/original.jpg"
                    data-title="FORSCOM Best Squad" data-author="U.S. Army photo by Pvt. Kyler Hembree">
                  <p class="img-title">FORSCOM Best Squad</p>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <span class="image">
                  <img
                    alt="An Army M1A2 Abrams tank assigned to the 1st Battalion, 68th Armor Regiment, 3rd Armored Brigade Combat Team, 4th Infantry Division fires during a gunnery Table V exercise at Drawsko Pomorskie, Poland, June 7, 2022. The 3/4th ABCT is among other units assigned to V Corps, America’s forward deployed corps in Europe that works alongside NATO allies and regional security partners to provide combat-credible forces."
                    src="https://www.army.mil/index.html"
                    data-src="https://api.army.mil/e2/c/images/2022/08/31/4497d173/original.jpg" data-title="Tank Fire"
                    data-author="U.S. Army photo by Capt. Tobias Cukale">
                  <p class="img-title">Tank Fire</p>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <span class="image">
                  <img alt="Members of the U.S. Army Parachute Team jump from their aircraft, the C-147A, for a demonstration jump at Selfridge Air National Guard Base on 8 July, 2022.  The jump is ahead of the Selfridge Open House and Air Show on July 9 and 10. (U.S. Army photo by Sgt. Mark Pierce)
" src="https://www.army.mil/index.html" data-src="https://api.army.mil/e2/c/images/2022/08/29/783d63f0/original.jpg"
                    data-title="Knight Fall" data-author="U.S. Army photo by Sgt. Mark Pierce">
                  <p class="img-title">Knight Fall</p>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <span class="image">
                  <img
                    alt="Army Sgt. Christine Won, right, helps Capt. Danielle Rant adjust a rifle sling during a reserve officers military competition at Camp Ethan Allen, Vt., July 19, 2022. The three-day team event consisted of NATO and Partnership for Peace nations in Europe."
                    src="https://www.army.mil/index.html"
                    data-src="https://api.army.mil/e2/c/images/2022/08/26/9851f2af/original.jpg"
                    data-title="Soldier Support" data-author="U.S. Army photo by Staff Sgt. David Graves">
                  <p class="img-title">Soldier Support</p>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <span class="image">
                  <img
                    alt="Secretary of the Army, Honorable Christine Wormuth, visits 1st Regiment, Basic Camp, Cadets as they participate in the Field Leader Reaction Course during Cadet Summer Training at Fort Knox, Ky., July 21, 2022."
                    src="https://www.army.mil/index.html"
                    data-src="https://api.army.mil/e2/c/images/2022/08/24/3161ce6c/original.jpg"
                    data-title="Secretary of the Army visits Cadet Summer Training"
                    data-author="U.S. Army photo by Cristina Betz">
                  <p class="img-title">Secretary of the Army visits Cadet Summer Training</p>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <span class="image">
                  <img
                    alt="Soldiers assigned to the 1st Battalion, 502nd Infantry Regiment, 2nd Brigade Combat Team, 101st Airborne Division (Air Assault), conduct squat/shoulder press during the Talon Blitz II Competition on July 22, 2022, at Mihail Kogalniceanu, Romania."
                    src="https://www.army.mil/index.html"
                    data-src="https://api.army.mil/e2/c/images/2022/08/22/b933ef49/original.jpg"
                    data-title="Talon Blitz" data-author="U.S. Army photo by Staff Sgt. Malcolm Cohens-Ashley">
                  <p class="img-title">Talon Blitz</p>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <span class="image">
                  <img
                    alt="Mountaineering instructors from Northern Warfare Training Center Staff Sgts. Jordan Weeg, right, and Garrett Phillips, left, rappel down a rock face while 11th Airborne Division Soldiers watch from below during Advanced Military Mountaineering Course 8 July at Black Rapids Training Site."
                    src="https://www.army.mil/index.html"
                    data-src="https://api.army.mil/e2/c/images/2022/08/19/634d3dcc/original.jpg"
                    data-title="Rappelling leaders" data-author="U.S. Army photo by Staff Sgt. Christopher Dennis">
                  <p class="img-title">Rappelling leaders</p>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <span class="image">
                  <img
                    alt="A Soldier climbs an obstacle during the Army Best Squad Competition at Fort Campbell, Ky., July 12, 2022."
                    src="https://www.army.mil/index.html"
                    data-src="https://api.army.mil/e2/c/images/2022/08/17/084796b4/original.jpg"
                    data-title="Scaling the Wall" data-author="U.S. Army photo by William Howard">
                  <p class="img-title">Scaling the Wall</p>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <span class="image">
                  <img
                    alt="Soldiers assigned to the 1st Armored Brigade Combat Team, 3rd Infantry Division conduct a night live-fire exercise with M1A2 Abrams main battle tanks at the 7th Army Training Command&#39;s Grafenwoehr Training Area, Germany, March 3, 2022."
                    src="https://www.army.mil/index.html"
                    data-src="https://api.army.mil/e2/c/images/2022/08/15/eb82c54c/original.jpg" data-title="Night Fire"
                    data-author="U.S. Army photo by Cpl. Austin Riel">
                  <p class="img-title">Night Fire</p>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <span class="image">
                  <img
                    alt="A Soldier reunites with family at Fort Bragg, N.C., July 12, 2022, after returning home from deployment."
                    src="https://www.army.mil/index.html"
                    data-src="https://api.army.mil/e2/c/images/2022/08/12/3f920e33/original.jpg"
                    data-title="Soldier&#39;s Smile" data-author="U.S. Army photo by Spc. Lilliana Fraser">
                  <p class="img-title">Soldier&#39;s Smile</p>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <span class="image">
                  <img
                    alt="An HH-60 medevac helicopter and crew assigned to C Company, 2-227 General Support Aviation Battalion hoist a simulated casualty during personnel recovery training with the United Kingdom in the Babadag Training Area, Romania July 12, 2022."
                    src="https://www.army.mil/index.html"
                    data-src="https://api.army.mil/e2/c/images/2022/08/11/1b51a312/original.jpg"
                    data-title="Recovery Training" data-author="U.S. Army photo by Capt. Taylor Criswell">
                  <p class="img-title">Recovery Training</p>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <span class="image">
                  <img
                    alt="Soldiers assigned to the 4th Infantry Division conduct weapons qualifications in Pabrade, Lithuania, July 13, 2022. The soldiers are working alongside NATO allies and regional security partners in Europe."
                    src="https://www.army.mil/index.html"
                    data-src="https://api.army.mil/e2/c/images/2022/08/08/18ed3ea7/original.jpg"
                    data-title="Weapons Training" data-author="U.S. Army photo by Sgt. Agustin Montanez">
                  <p class="img-title">Weapons Training</p>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <span class="image">
                  <img
                    alt="U.S. Army Spc. Joel Shawgo, an indirect fire infantryman assigned to the 4th Squadron, 10th Cavalry Regiment, 3rd Armored Brigade Combat Team, 4th Infantry Division, writes down coordinates after using a target locator module at Niinisalo, Finland, July 21, 2022."
                    src="https://www.army.mil/index.html"
                    data-src="https://api.army.mil/e2/c/images/2022/08/03/0dd4d6aa/original.jpg"
                    data-title="Target Locator" data-author="U.S. Army photo by Sgt. Andrew Greenwood">
                  <p class="img-title">Target Locator</p>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <span class="image">
                  <img
                    alt="Army Col. Shane Finison flies an AH-64E Apache helicopter near Mount Rainier, Wash., July 11, 2022, during his final flight as commander of the 16th Combat Aviation Brigade."
                    src="https://www.army.mil/index.html"
                    data-src="https://api.army.mil/e2/c/images/2022/08/01/33d34706/original.jpg"
                    data-title="Final Flight" data-author="U.S. Army photo by Capt. Kyle Abraham">
                  <p class="img-title">Final Flight</p>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <span class="image">
                  <img
                    alt="Army Sgt. Justin Covert mans an M1A2 .50-caliber machine gun on a Stryker vehicle during training at Fort Irwin, Calif., as the Milky Way galactic center is visible overhead, May 24, 2022."
                    src="https://www.army.mil/index.html"
                    data-src="https://api.army.mil/e2/c/images/2022/07/29/44c816cf/original.jpg"
                    data-title="Galaxy Views" data-author="U.S. Army photo by Staff Sgt. Christopher Stewart">
                  <p class="img-title">Galaxy Views</p>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <span class="image">
                  <img
                    alt="Soldiers participate in Fight Night, an annual combatives event, at Rose Barracks, Germany, May 24, 2022."
                    src="https://www.army.mil/index.html"
                    data-src="https://api.army.mil/e2/c/images/2022/07/27/75b236f5/original.jpg"
                    data-title="Fight Night" data-author="U.S. Army photo by Spc. Ryan Parr">
                  <p class="img-title">Fight Night</p>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <span class="image">
                  <img
                    alt="Capt. Mike Vogel, commander of the U.S. Army Drill Team, leads a drill performance with his Soldiers at Times Square, N.Y., on June 14, as part of a U.S. Army Birthday ceremony. The ceremony commemorated the Army’s 247th birthday and highlighted the Army’s 24/7 commitment to global readiness and the Army family."
                    src="https://www.army.mil/index.html"
                    data-src="https://api.army.mil/e2/c/images/2022/07/25/e248609c/original.jpg"
                    data-title="Times Square Drill Team" data-author="U.S. Army photo by Sgt. Hubert D. Delany III">
                  <p class="img-title">Times Square Drill Team</p>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <span class="image">
                  <img
                    alt="Army Spc. Lorena Martinez rappels down a tower during training at Camp Dodge in Johnston, Iowa, June 8, 2022."
                    src="https://www.army.mil/index.html"
                    data-src="https://api.army.mil/e2/c/images/2022/07/18/cb601e60/original.jpg"
                    data-title="Rappel Ready" data-author="U.S. Army photo by Staff Sgt. Tawny Schmit">
                  <p class="img-title">Rappel Ready</p>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <span class="image">
                  <img
                    alt="Soldiers assigned to the 7th Infantry Regiment conduct live-fire exercises at the Grafenwoehr Training Area in Germany, May 22, 2022."
                    src="https://www.army.mil/index.html"
                    data-src="https://api.army.mil/e2/c/images/2022/07/15/d8baff4e/original.jpg"
                    data-title="Live-fire Exercise" data-author="U.S. Army photo by Maj. Patrick Connelly">
                  <p class="img-title">Live-fire Exercise</p>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <span class="image">
                  <img
                    alt="Army paratroopers jump out of a C-130J Super Hercules aircraft over Ramstein Air Base, Germany, May 25, 2022, during an event to celebrate the 80th anniversary of the 37th Airlift Squadron."
                    src="https://www.army.mil/index.html"
                    data-src="https://api.army.mil/e2/c/images/2022/07/13/c2bc2e3b/original.jpg"
                    data-title="Anniversary Jump" data-author="Photo by U.S. Air Force Staff Sgt. Megan M. Beatty">
                  <p class="img-title">Anniversary Jump</p>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <span class="image">
                  <img
                    alt="Chief of Staff of the U.S. Army Gen. James C. McConville signs a baseball for a fan during Army Day with the Nationals at Nationals Park in Washington, D.C., June 16, 2022. Secretary of the U.S. Army Christine Wormuth, Gen. McConville and Sgt. Maj. of the U.S. Army Michael A. Grinston hosted the Army’s 247th birthday celebrations."
                    src="https://www.army.mil/index.html"
                    data-src="https://api.army.mil/e2/c/images/2022/07/11/81b38c4c/original.jpg"
                    data-title="Chief of Staff Autograph" data-author="U.S. Army photo by Sgt. Henry Villarama">
                  <p class="img-title">Chief of Staff Autograph</p>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <span class="image">
                  <img
                    alt="Army Capt. Eric Chang renders honors during a ceremony held at the Eternal Heroes Memorial in Ravenoville, France, June 2, 2022. The ceremony remembered members of the 101st and 82nd Airborne Divisions killed in the liberation of Ravenoville during World War II. U.S. Army Europe and Africa is commemorating the 78th anniversary of D-Day, the largest multinational amphibious landing and operational military airdrop in history."
                    src="https://www.army.mil/index.html"
                    data-src="https://api.army.mil/e2/c/images/2022/07/08/1c3fec51/original.jpg"
                    data-title="Remembering D-Day"
                    data-author="Photo by U.S. Navy Petty Officer 2nd Class Julio Martinez">
                  <p class="img-title">Remembering D-Day</p>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <span class="image">
                  <img
                    alt="Wayne Porter, a U.S. Army veteran who was assigned to the 11th Airborne Division before its deactivation in 1958, places an 11th Airborne Div. shoulder sleeve insignia on Spc. Jihad Yarber, assigned to the 2nd Brigade, 11th Airborne Division, during the reflagging ceremony of the 11th Airborne Division, June 6, 2022, at Pershing Parade Field, Joint Base Elmendorf-Richardson, Alaska.

The activation returns the historic 11th Airborne Division to an active Army role, with a focus on operations in extreme cold weather and mountainous high-altitude environments. The ceremonies at Fort Wainwright and Joint Base Elmendorf-Richardson reflagged the 1st Stryker Brigade Combat Team, 25th Infantry Division and the 4th Infantry Brigade Combat Team (Airborne), 25th Infantry Division, into the 1st and 2nd Brigade Combat Teams, 11th Airborne Division, respectively. "
                    src="https://www.army.mil/index.html"
                    data-src="https://api.army.mil/e2/c/images/2022/07/06/cc7de73f/original.jpg"
                    data-title="11th Airborne Activation"
                    data-author="Photo by U.S. Air Force Senior Airman Patrick Sullivan">
                  <p class="img-title">11th Airborne Activation</p>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <span class="image">
                  <img alt="Soldiers fire a howitzer during training in Hawaii, June 23, 2022."
                    src="https://www.army.mil/index.html"
                    data-src="https://api.army.mil/e2/c/images/2022/07/01/1507c662/original.jpg"
                    data-title="Artillery Table" data-author="U.S. Army photo by 1st Lt. David Block">
                  <p class="img-title">Artillery Table</p>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <span class="image">
                  <img
                    alt="An M1A2 Abrams fires during the Sullivan Cup at the Army Armor School at Fort Benning, Ga., April 29, 2022. The biennial competition evaluates the performance of the best tank crews from across the Armor Branch, the Marine Corps and international partner militaries."
                    src="https://www.army.mil/index.html"
                    data-src="https://api.army.mil/e2/c/images/2022/06/29/934b2f2f/original.jpg"
                    data-title="Competition Fire" data-author="U.S. Army photo by Spc. Joshua Taeckens">
                  <p class="img-title">Competition Fire</p>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <span class="image">
                  <img
                    alt="A South Dakota Army National Guard medic tests the blood pressure of a woman in Suriname, April 22, 2022. About 30 soldiers from the South Dakota National Guard traveled to the South American country to provide engineering support for a school renovation and medical and dental services as part of the Suriname and South Dakota State Partnership Program agreement."
                    src="https://www.army.mil/index.html"
                    data-src="https://api.army.mil/e2/c/images/2022/06/27/1fb1e612/original.jpg"
                    data-title="Medical Check" data-author="U.S. Army photo South Dakota National Guard">
                  <p class="img-title">Medical Check</p>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <span class="image">
                  <img
                    alt="Army Capt. Denis Majewski, an outlaw troop commander assigned to the 4th Squadron, 2d Cavalry Regiment, leads a convoy in a tactical road march from the Niinisalo Training Area in Finland, May 8, 2022. Exercise Arrow is an annual, multinational exercise where armed forces from the U.S., U.K., Latvia and Estonia, train with the Finnish Defense Forces in high intensity, force-on-force engagements and live fire exercises to increase military readiness and promote interoperability among partner nations."
                    src="https://www.army.mil/index.html"
                    data-src="https://api.army.mil/e2/c/images/2022/06/24/6a7841ea/original.jpg"
                    data-title="Tank Convoy" data-author="U.S. Army photo by Spc. Elizabeth MacPherson">
                  <p class="img-title">Tank Convoy</p>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <span class="image">
                  <img
                    alt="Sgt. Maj. of the Army Michael A. Grinston deadlifts during his visit at Camp Herkus, Lithuania, May 3, 2022. Grinston is the Army Chief of Staff&#39;s adviser on matters affecting the enlisted force and devotes most of his time traveling to observe training and interacting with Soldiers and their Families."
                    src="https://www.army.mil/index.html"
                    data-src="https://api.army.mil/e2/c/images/2022/06/22/1b941bbf/original.jpg"
                    data-title="SMA Deadlift" data-author="U.S. Army photo by 113th Mobile Public Affairs Detachment">
                  <p class="img-title">SMA Deadlift</p>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <span class="image">
                  <img
                    alt="A young girl speaks with Army paratroopers during a festival celebrating Poland’s Constitution Day in Rzezsow, Poland, May 3, 2022. The paratroopers were invited to join the festivities which included a parade, concert performances and outdoor attractions."
                    src="https://www.army.mil/index.html"
                    data-src="https://api.army.mil/e2/c/images/2022/06/17/5c6b713b/original.jpg"
                    data-title="Trooper Greeting" data-author="U.S. Army photo by Sgt. Catessa Palone">
                  <p class="img-title">Trooper Greeting</p>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <span class="image">
                  <img
                    alt="Army Staff Sgt. Daniel Quang, a tank commander with the Alpha Company 1st Battalion, 68th Armor Regiment, 3rd Armored Brigade Combat Team, 4th Infantry Division, waits at the ready before completing a live-fire accuracy screening test for Exercise DEFENDER-Europe 22 at Konotop Range in Drawsko Pomorskie, Poland, May 9, 2022. The exercise demonstrates U.S. Army Europe and Africa’s ability to conduct large-scale ground combat operations across multiple theaters in support of NATO allies and partners."
                    src="https://www.army.mil/index.html"
                    data-src="https://api.army.mil/e2/c/images/2022/06/15/644f3728/original.jpg"
                    data-title="NATO Support" data-author="U.S. Army photo by Sgt. Tara Fajardo Arteaga">
                  <p class="img-title">NATO Support</p>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <span class="image">
                  <img
                    alt="Service members assigned to Task Force Red Dragon and Combined Joint Task Force Horn of Africa participate in the French Desert Commando Course at Arta Range complex, Djibouti, April 26, 2022."
                    src="https://www.army.mil/index.html"
                    data-src="https://api.army.mil/e2/c/images/2022/06/13/0d7535f3/original.jpg"
                    data-title="Above the Desert" data-author="U.S. Army photo by Staff Sgt. Jeff Clements">
                  <p class="img-title">Above the Desert</p>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <span class="image">
                  <img
                    alt="U.S. Army snipers assigned to the 1st Battalion, 8th Infantry Regiment, 3rd Armored Brigade Combat Team, 4th Infantry Division, run to cover to support a German company of the 212th Panzergrenadier Battalion, 21st Panzer Brigade, 1st Panzer Division, during a situational training exercise at Oberlausitz Training Area, Germany, May 16, 2022. Defender Europe 22 is a series of U.S. Army Europe and Africa multinational training exercises taking place in Eastern Europe. The exercise demonstrates U.S. Army Europe and Africa’s ability to conduct large-scale ground combat operations across multiple theaters in support of NATO."
                    src="https://www.army.mil/index.html"
                    data-src="https://api.army.mil/e2/c/images/2022/06/10/ca552f17/original.jpg"
                    data-title="Oberlausitz Live-Fire" data-author="U.S. Army photo by Staff Sgt. Gabriel Rivera">
                  <p class="img-title">Oberlausitz Live-Fire</p>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <span class="image">
                  <img
                    alt="Soldiers conduct platoon live-fire training during Rock Dawn, a readiness exercise, in Latvia, May 16, 2022."
                    src="https://www.army.mil/index.html"
                    data-src="https://api.army.mil/e2/c/images/2022/06/09/186f0c59/original.jpg" data-title="Rock Dawn"
                    data-author="U.S. Army photo by Sgt. Luke Michalski">
                  <p class="img-title">Rock Dawn</p>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <span class="image">
                  <img
                    alt="World War II veterans attend a ceremony at the Eternal Heroes Memorial in Normandy, France, June 2, 2022, to honor fallen paratroopers who liberated Ravenoville in June 1944. Veterans and representatives of veterans who could not be there received challenge coins during the event."
                    src="https://www.army.mil/index.html"
                    data-src="https://api.army.mil/e2/c/images/2022/06/06/575a1df3/original.jpg"
                    data-title="Eternal Heroes" data-author="U.S. Army photo by Spc. Vincent Levelev">
                  <p class="img-title">Eternal Heroes</p>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <span class="image">
                  <img
                    alt="Members of 7th Special Forces Group (Airborne) conduct overnight land navigation during assessment training at Camp &#34;Bull&#34; Simons, Fla., April 26, 2022."
                    src="https://www.army.mil/index.html"
                    data-src="https://api.army.mil/e2/c/images/2022/06/03/15f61332/original.jpg"
                    data-title="Night Navigation" data-author="U.S. Army photo by Sgt. Carolina Sierra">
                  <p class="img-title">Night Navigation</p>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <span class="image">
                  <img
                    alt="The cadets of the U.S. Military Academy Class of 2022 toss their hats into the air after the command of “class dismissed&#34; by Cadet First Captain Holland Pratt at the conclusion of the Graduation and Commissioning Ceremony Saturday at Michie Stadium. This year, 1,014 members of the USMA Class of 2022 received their diplomas."
                    src="https://www.army.mil/index.html"
                    data-src="https://api.army.mil/e2/c/images/2022/06/01/6252aad2/original.jpg"
                    data-title="USMA Class of 2022" data-author="U.S. Army photo by Cadet Tyler Williams">
                  <p class="img-title">USMA Class of 2022</p>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <span class="image">
                  <img
                    alt="Soldiers from the 3d U.S. Infantry Regiment (The Old Guard) places a U.S. flag and salutes at a gravesite at Arlington National Cemetery as part of Flags-In, Arlington, Va., May 26, 2022.

On this day, over 1,000 service members placed flags at more than 250,000 headstones and at the bottom of about 7,000 niche rows at Arlington National Cemetery and the U.S. Soldiers’ and Airmen’s Home National Cemetery."
                    src="https://www.army.mil/index.html"
                    data-src="https://api.army.mil/e2/c/images/2022/05/27/3edbae9f/original.jpg" data-title="Flags-In"
                    data-author="U.S. Army photo by Elizabeth Fraser">
                  <p class="img-title">Flags-In</p>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <span class="image">
                  <img
                    alt="Army Spc. Jongmin Yoo participates in the 2022 Regional Health Command-Central Best Leader Competition at Fort Bliss, Texas, April 10, 2022."
                    src="https://www.army.mil/index.html"
                    data-src="https://api.army.mil/e2/c/images/2022/05/25/c5a91949/original.jpg"
                    data-title="Competition Course" data-author="U.S. Army photo by Sgt. LaShic Patterson">
                  <p class="img-title">Competition Course</p>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <span class="image">
                  <img
                    alt="Army Lt. Col. Alexander Samms, second from left, commander of 10th Brigade Engineer Battalion, 1st Armored Brigade Combat Team, 3rd Infantry Division, and his soldiers recover an M68A2 line charge during a training exercise at the 7th Army Training Command’s Grafenwoehr Training Area, Germany, March 29, 2022. The 1st Armored Brigade Combat Team, 3rd Infantry Division is part of the 1st Infantry Division and V Corps, which works in Europe with NATO allies and regional security partners to provide combat ready forces, execute joint and multinational training exercises, and retain command and control for its rotational and assigned units in the European Theater."
                    src="https://www.army.mil/index.html"
                    data-src="https://api.army.mil/e2/c/images/2022/05/23/71289816/original.jpg" data-title="Heavy Load"
                    data-author="U.S. Army photo by Markus Rauchenberger">
                  <p class="img-title">Heavy Load</p>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <span class="image">
                  <img
                    alt="Army Senior Research Scientist for Chemistry Dr. Patricia McDaniel works with research scientists Brian Hauck and Janet Jensen to explore chemical and biological detection technologies that can be integrated into microsensor capabilities. "
                    src="https://www.army.mil/index.html"
                    data-src="https://api.army.mil/e2/c/images/2022/05/20/5254b71e/original.jpg"
                    data-title="Army Research" data-author="U.S. Army photo by Janet Wychock">
                  <p class="img-title">Army Research</p>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <span class="image">
                  <img
                    alt="Army 1st. Lt. Mason Conine, an Apache pilot assigned to the Headquarters and Headquarters Company, 1-3rd Attack Battalion, 12th Combat Aviation Brigade, gives a brief on the capabilities of an AH-64D Apache helicopter to NATO joint terminal attack controllers at Lielvarde Air Base in Latvia, March 29, 2022."
                    src="https://www.army.mil/index.html"
                    data-src="https://api.army.mil/e2/c/images/2022/05/18/d186f86d/original.jpg"
                    data-title="Capabilities Briefing" data-author="U.S. Army photo by Sgt. Preston Malizia">
                  <p class="img-title">Capabilities Briefing</p>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <span class="image">
                  <img
                    alt="1st Lt. Ian Roxas, an explosive ordnance disposal officer with 764th Ordnance Company, works a lane in a bomb suit during the Raven&#39;s Challenge at Camp Gruber, Oklahoma, April 4th, 2022. Raven&#39;s Challenge brings EOD techs from all branches, multiple nations, local, state and federal agencies collaborate and work together to hone their skills and master their craft."
                    src="https://www.army.mil/index.html"
                    data-src="https://api.army.mil/e2/c/images/2022/05/16/741898eb/original.jpg"
                    data-title="Raven&#39;s Challenge" data-author="U.S. Army photo by Staff Sgt. Apolonia Gaspar">
                  <p class="img-title">Raven&#39;s Challenge</p>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <span class="image">
                  <img
                    alt="Soldiers assigned to the Headquarters and Headquarters Battery, 3rd Battalion, 29th Field Artillery Regiment, 3rd Armored Brigade Combat Team, 4th Infantry Division conduct a ruck march to the range before zeroing their weapons at Torun, Poland, April 20, 2022. The 3/29th FA is among other units assigned to V Corps, America&#39;s forward-deployed corps in Europe that works alongside NATO allies and regional security partners to provide combat-credible forces; execute joint, bilateral, and multinational training exercises."
                    src="https://www.army.mil/index.html"
                    data-src="https://api.army.mil/e2/c/images/2022/05/13/fe0e2e23/original.jpg"
                    data-title="Soldiers Walk" data-author="U.S. Army photo by Sgt. Gabriel Rivera">
                  <p class="img-title">Soldiers Walk</p>
                </span>
              </a>
            </li>
            <li>
              <a href="javascript:;">
                <span class="image">
                  <img
                    alt="Spc. Patrick Kusik, an indirect fire infantryman assigned to 1st Battalion, 111th Infantry Regiment, 56th Stryker Brigade Combat Team, 28th Infantry Division, Pennsylvania Army National Guard low crawls under barbed wire while navigating an individual movement technique lane April 23 at Fort Indiantown Gap, Pa. Kusik attended a four-day Ranger Sapper Assessment Program and the IMT lane was an evaluated event. This event was designed to prepare the trainees for the infamous Malvesti obstacle course, a wet and muddy confidence course that they will encounter if selected to attend Ranger School. "
                    src="https://www.army.mil/index.html"
                    data-src="https://api.army.mil/e2/c/images/2022/05/11/a8a2bc18/original.jpg"
                    data-title="Maneuvering Malvesti" data-author="U.S. Army photo by Staff Sgt. Shane Smith">
                  <p class="img-title">Maneuvering Malvesti</p>
                </span>
              </a>
            </li>
          </ul>
        </div>
        <div class="image-loading"></div>
      </div>
    </div>
  </div>
  <div id="loading" class="loading">
    <div id="loading-bar" class="loading-bar"></div>
  </div>
  <footer>
    <section id="social-id" class="social">
      <ul>
        <li class="social-button facebook-button">
          <a rel="noopener noreferrer" target="_blank" href="https://www.facebook.com/USArmy"><span>Official U.S. Army
              Facebook</span></a>
        </li>
        <li class="social-button twitter-button">
          <a rel="noopener noreferrer" target="_blank" href="https://twitter.com/USArmy"><span>Official U.S. Army
              Twitter</span></a>
        </li>
        <li class="social-button youtube-button">
          <a rel="noopener noreferrer" target="_blank" href="https://www.youtube.com/USarmy"><span>Official U.S. Army
              Youtube</span></a>
        </li>
        <li class="social-button flickr-button">
          <a rel="noopener noreferrer" target="_blank"
            href="https://www.flickr.com/photos/soldiersmediacenter"><span>Official U.S. Army Flickr</span></a>
        </li>
        <li class="social-button instagram-button">
          <a rel="noopener noreferrer" target="_blank" href="https://instagram.com/usarmy"><span>Official U.S. Army
              Instagram</span></a>
        </li>
      </ul>
    </section>
    <section class="footer-bottom">
      <ul>
        <li><a href="https://www.army.mil/index.html">Home</a></li>
        <li><a href="contact">Contact Us</a></li>
        <li><a href="privacy">Privacy</a></li>
        <li><a href="terms">Terms Of Use</a></li>
        <li><a href="http://dodcio.defense.gov/DoDSection508/Std_Stmt.aspx">Accessibility/Section 508</a></li>
        <li><a href="https://www.rmda.army.mil/foia/RMDA-FOIA-Division.html">FOIA</a></li>
        <li><a href="nofearact">No FEAR Act</a></li>
      </ul>
    </section>
  </footer>
  <script type="text/javascript" src="/js/rv7/main/army_mil_searchgov_sayt_loader.js"></script>
  <!-- to include extra GA codes, use format: -->
  <!-- <div id="ga-analytic-codes" data-codes="UA-xxx-x, UA-xxx-x"></div> -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-27189539-1"></script>
  <script type="text/javascript" src="/js/rv7/main/google_analytics4.js"></script>
  <script src="/assets/js/home.js" async></script>
</body>

</html>